@font-face {
	font-family: "EU4";
	src: url(./../normal.otf);
	font-display: swap;
}

:root {
	font-family: "EU4", "Lato", Helvetica, Arial, serif;
	font-size: 22px;

	color-scheme: dark light;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;

	/* In case image doesn't load, display color that is similar */
	background-color: #2d383f;
	background-image: url(./../tileable_bg_big.png);
	background-repeat: repeat;

	filter: brightness(50%);
}

#app {
	padding: 2rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
